$theme-color: var(--blue-light);
$theme-image-panel: url("../images/panel-white-mountain.jpg");
$theme-image-wrapper: url("../images/purple-mountain.jpg");
$black-med: rgb(30, 30, 30);
$blue-med: rgb(20, 90, 170);
$blue-med-svg: invert(26%) sepia(90%) saturate(1460%) hue-rotate(196deg) brightness(85%) contrast(93%);
$blue-light: rgb(0, 115, 190);
$green-light: rgb(70, 190, 70);
$green-med: rgb(10, 130, 10);
$green-med-svg: invert(16%) sepia(100%) saturate(7103%) hue-rotate(137deg) brightness(102%) contrast(92%);
$orange-light: rgb(210, 130, 0);
$orange-med: #c86e00;
$orange-med-svg: invert(42%) sepia(76%) saturate(781%) hue-rotate(1deg) brightness(94%) contrast(104%);
$orange-dark: rgb(200, 75, 0);
$purple-dark: rgb(90, 15, 90);
$red-light: rgb(205, 70, 70);
$red-med: rgb(185, 50, 50);
$red-med-2: #a00f0f;
$red-med-2-svg: invert(14%) sepia(45%) saturate(6703%) hue-rotate(351deg) brightness(85%) contrast(101%);
$red-dark: rgb(130, 10, 10);
$white-light: #dfdfdf;
$white-med: #e8e8e8;
$yellow: rgb(215, 190, 0);

.light {
    --foreground-color: #000;
    --background-color: #eee;
}

.dark {
    --foreground-color: #eee;
    --background-color: #000;
}