.banner {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2.8rem 0.7rem 1.8rem;
    margin: 0 auto;
    width: fit-content;
    height: 3rem;
    border: 3px double $blue-2;
    border-radius: 0.6rem;
    background-color: $black-1;
    color: $white-2;
    font-weight: 400;
    font-size: 1.2em;
    z-index: 5;

    &.blue { border-color: $blue-2; }
    &.green { border-color: $green-1; }
    &.red { border-color: $red-2; }
    &.orange { border-color: $orange-1; }
    &.purple { border-color: $purple-1; }
    &.yellow { border-color: $yellow-3; }

    span.close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.5;
        color: $grey-2;
        cursor: pointer;
        transition: all 0.2s;

        &:hover { color: $red-2; }
    }

    a {
        color: $blue-2;
    }
}