.multi-select-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.6rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: radial-gradient(rgba($blue-3, 0.5), rgba($grey-3, 0));
        opacity: 1;
    }

    &.checked { opacity: 1; }

    .checkbox {
        border-radius: 3px;
        background-color: $black-2;
        border-color: $blue-3;
    }
}