.home, #portal-root {
    background-image: url("../../media/background-prism-white.png");
    background-repeat: repeat;
    font-weight: 600;
    overflow-x: hidden;

    @import "../components/tags";
    @import "../components/bookmark";
}

@import "../components/fileInput";
@import "../components/navbar";
@import "../components/modal";
@import "../components/tabs";
@import "../components/menu";
@import "../components/multiSelect";

.account-modal {
    flex-flow: row;
    align-items: flex-start;
    max-width: 600px;
    max-height: 450px;
    width: 100%;
    height: 100%;
}