.notFound {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $black-3;
    overflow: hidden;

    .heading {
        font-size: 12em;
        color: $blue-2;
    }

    .subheading {
        font-size: 3em;
        color: $white-2;
    }

    img {
        margin: 1.5em 0;
        width: 50%;
        max-width: 500px;
        height: auto;
    }
}